<!--
  File name:      list.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->

<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  //add boostrap table code
<br>
<br>
<br>
  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
      <a href="/book-list/add" class="btn btn-primary" role="button">
      <i class ="fas fa-plus-circle"></i> Add a contact

      </a>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!--HEader row-->
        <tr>
          <th class="text-center" width="30%">Contact Name</th>
          <th class="text-center" width="30%">Contact Number</th>
          <th class="text-center" width="30%">Email Address</th>
          <th class="text-center" width="5%"></th>
          <th class="text-center" width="5%"></th>
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<BookList.length; count++){%>
          <tr>
            <td class="text-centre "><%=BookList[count].last_name %>, <%=BookList[count].first_name %></td>
            <td class="text-centre "><%=BookList[count].contact_number %></td>
            <td class="text-centre "><%=BookList[count].email %></td>
            <td class="text-center col-1">
              <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i> Update</a>
          </td>
          <td class="text-center col-1">
              <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i> Delete</a>
          </td>
          </tr>
        <%}%>
      </table>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
