<!--
  File name:      index.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

  <!-- Main Content -->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <% if (title == "Home") { %>
        <%- include('partials/home.ejs') %>
        <% } else if (title == "About Me") {  %>
        <%- include('partials/aboutme.ejs') %>
        <% } else if (title == "Projects") {  %>
        <%- include('partials/projects.ejs') %>
        <% } else if (title == "Services") {  %>
        <%- include('partials/services.ejs') %>
        <% } else if (title == "Contact Me") {  %>
        <%- include('partials/contact.ejs') %>
        <% } %>
      </div>
    </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>